<h1>Payable</h1>
<!-- <ul class="nav_links">
  <li>About</li>
  <li>Contact</li>
</ul> -->

<h3>Simple invoices, quick payments.</h3>
<p>Connect with Stripe. Send an invoice. Get paid.</p>

<%= link_to "Get Started", new_charge_path %>
