<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_315NqmiSxK03uJaiWHMDm4EoqJV8v1SS"><img src="../assets/blue.png"></a>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_GdGcU7ZuW4cW8CFlBMx56SLe"
    data-amount="2000"
    data-name="Payable"
    data-description="Invoice ($20.00)"
    data-image="/128x128.png">
  </script>
</form>
